.content {
  margin : 0 auto;
  width : 1100px;
}

.posts {
  display : table;
  
}

.post {
  display : table-cell;
  padding : 10px;
}

.chatcoyote {
  width : 315px;
  height : 450px;
  border: 10px solid #d7d7d7;
  border-radius: 5px;
  background : #FFFFFF;
}

body {
  background : #F2EEE8;
  font-family : Arial;
  font-size : 1.1em;
}

.gist {
  font-size : .8em;
}